body, h1, h2, h3, h4, h5, h6 {
    font-family: Verdana!important;
    font-weight: 300!important;
}
div {display:block; width:100%; float:left;}

a.btn {font-size:1.19rem;}
.var {
    width: initial;
    max-width: initial;
}
.btn.mini {
    padding: 0.5rem;
    color: black!important;
    font-size: 1rem;
    display: initial;
}
.btn.midi {
    padding: 0.75rem 0.5rem;    
}
#YRNO {
    overflow-x: auto;
    height: 325px;
    margin-top: 10px;
}
button.btn, a.btn {
    width: 32%;
    max-width: 10rem;
    text-align: center;
    padding: 1.2rem;
    font-size: 1.2rem;
    white-space: nowrap;
    float:left;
}

.mobile-wrap {
    margin: auto;
    width: 100%;
    max-width: 876px;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url(../img/back/Motyl1.jpg) top center no-repeat;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.nava {
    z-index: 101;
    top: 22px;
    right: 15px;
    width: 45px;
    bottom: 15px;
    height: 45px;
    display: block;
    position: absolute;
    line-height: 47px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
}
.maska {

    cursor: pointer;
  
    border-radius: 50%;
    position: absolute;
    -webkit-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s cursor:pointer;
    background: #136;

   
    width: 74%;
    height: 74%;
    z-index: 99;
    text-align: center;
    margin: 11%;
   
    
}
.icon-home {background-image: url(home.svg);}
/*
@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("./font/roboto/Roboto-Thin.eot");
  src: url("./font/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("./font/roboto/Roboto-Thin.woff2") format("woff2"), url("./font/roboto/Roboto-Thin.woff") format("woff"), url("./font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("./font/roboto/Roboto-Light.eot");
  src: url("./font/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("./font/roboto/Roboto-Light.woff2") format("woff2"), url("./font/roboto/Roboto-Light.woff") format("woff"), url("./font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("./font/roboto/Roboto-Regular.eot");
  src: url("./font/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./font/roboto/Roboto-Regular.woff2") format("woff2"), url("./font/roboto/Roboto-Regular.woff") format("woff"), url("./font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("./font/roboto/Roboto-Medium.eot");
  src: url("./font/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./font/roboto/Roboto-Medium.woff2") format("woff2"), url("./font/roboto/Roboto-Medium.woff") format("woff"), url("./font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("./font/roboto/Roboto-Bold.eot");
  src: url("./font/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./font/roboto/Roboto-Bold.woff2") format("woff2"), url("./font/roboto/Roboto-Bold.woff") format("woff"), url("./font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }
*/

/*Laptopy*/
@media screen and (min-width: 1400px){
}

/*smartphone*/
@media screen and (max-width: 360px){
}

