

.mobile-wrap {
    margin: auto;
    width: 100%;
    max-width: 876px;
    height: 100%;
    padding:0 0.5rem;
    overflow: hidden;
    position: relative;
    /*background: url(../img/back/Motyl1.jpg) top center no-repeat;*/
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}
.nav {    
    display:block;
    width:100%;
    min-height:60px;
}
.nava {
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0 #000;
    cursor: pointer;
    background: #888;
    float: left;
    margin: 8px 4px;
}
.nava:focus {background:#444;}

.maska {
    width: 66%;
    height: 66%;
    text-align: center;
    margin: 13% 18%;
}
.active {opacity:0.7}
.icon-home {background:navy;}
.icon-pogoda {background:darkgreen;}
.icon-radio {background:blue;}
.icon-todo {background:red;}
.icon-taras {background:gray;}
.icon-links {background:violet;}

